.container-fluid {
  max-width: 1140px;

  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);

  @include media-breakpoint-up(md) {
    padding-left: ($grid-gutter-width * 0.75);
    padding-right: ($grid-gutter-width * 0.75);
  }
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: $primary;
}

// Workaround for autoprefixer bug
@supports (position: -webkit-sticky) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
