.classes-banner {
  position: relative;
  background-color: rgba(#353a3f, 0.7);

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: image-url("classes/bg.jpg");
    background-size: cover;
  }

  &-date {
    border: 1px solid;
    padding: 0.2rem 1rem;
  }

  @include media-breakpoint-down(xs) {
    > .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.classes-class {
  background-size: cover;
  background-position: center center;

  &-inner {
    // background-color: rgba($dark, 0.8);
    min-height: 15rem;
  }
}
