.gallery-sidebar {
  z-index: 1;

  @include media-breakpoint-down(xs) {
    top: 3.5rem;
    height: calc(100vh - 3.5rem);

    position: fixed;
    width: 100%;
    left: 0;

    transform: translateX(-100%);
    transition: transform 0.5s;

    &-open {
      transform: none;
    }
  }

  @include media-breakpoint-up(sm) {
    position: sticky;
  }

  @include media-breakpoint-up(md) {
    top: 4.5rem;
  }
}
