.to-edge-right,
.to-edge-left,
.to-edge-left-mega {
  @include media-breakpoint-down(sm) {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.to-edge-right {
  @include media-breakpoint-up(md) {
    margin-right: -1.5rem;

    &.pad-edge {
      padding-right: 1.5rem !important;
    }
  }
}

.to-edge-left {
  @include media-breakpoint-up(md) {
    margin-left: -1.5rem;

    &.pad-edge {
      padding-left: 1.5rem !important;
    }
  }
}

.to-edge-left-mega {
  @include media-breakpoint-up(md) {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: 1.5rem !important;
    padding-right: 100px !important;

    margin-top: -1.5rem;
    margin-bottom: -1.5rem;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;

    position: relative;
    z-index: 2;
  }

  @include media-breakpoint-up(lg) {
    margin-left: -7.5rem;
    margin-right: -7.5rem;
    padding-left: 7.5rem !important;
    padding-right: 200px !important;

    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }
}

.to-edge-right-mega {
  @include media-breakpoint-up(md) {
    margin-left: -1.5rem;
    margin-right: -1.5rem;

    margin-top: -1.5rem;
    margin-bottom: -1.5rem;
  }

  @include media-breakpoint-up(lg) {
    margin-left: -7.5rem;
    margin-right: -1.5rem;
  }
}

.vertical-center {
  @include media-breakpoint-up(md) {
    position: relative;
    height: 100%;

    &-inner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
    }
  }
}

.built-to-evolve {
  @include media-breakpoint-up(md) {
    margin-bottom: 8rem !important;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 5rem !important;
  }
}
