.video-hero {
  position: relative;
  overflow: hidden;
  height: 100vh;

  margin-top: -3.5rem;
  @include media-breakpoint-up(md) {
    margin-top: -4.5rem;
  }

  &-inner {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: auto;
    height: 100%;

    @media (min-aspect-ratio: 16/9) {
      width: 100%;
      height: auto;
    }
  }

  > .carousel-caption {
    opacity: 0;
    transition: opacity 1s;

    &:not(.active) {
      pointer-events: none;
    }

    &.active {
      opacity: 1;
      z-index: 11;
    }
  }

  .carousel-caption {
    bottom: calc(50% - (3.5rem / 2));
    @include media-breakpoint-up(md) {
      bottom: calc(50% - (4.5rem / 2));
    }

    transform: translateY(50%);
    text-shadow: 0 2px 5px rgba(#000, 0.2);
  }
}
