<footer class="pt-5 pb-4">
  <div class="container-fluid text-center text-md-left">
    <p>
      Locations we serve:<br class="d-sm-none">
      South Lake Tahoe, CA | Reno, NV | Truckee, CA
    </p>

    <hr>

    <div class="d-md-flex justify-content-between">
      <ul class="list-inline">
        <li class="list-inline-item">
          &copy; <%= Time.now.year %> SHEMSS, Inc.
        </li>
        <li class="list-inline-item">
          <%= link_to 'Privacy Policy', '/privacy-policy/' %> |
          Contact: <%= data.site.phone %>
        </li>
      </ul>

      <ul class="list-inline">
        <li class="list-inline-item">
          <% link_to 'https://www.facebook.com/shemssinc/', target: '_blank' do %>
            <i class="fa fa-fw fa-facebook-official" aria-hidden="true"></i>
            <span class="sr-only">Facebook</span>
          <% end %>
        </li>
        <li class="list-inline-item">
          <% link_to 'https://www.pinterest.com/shemssinc/', target: '_blank' do %>
            <i class="fa fa-fw fa-pinterest" aria-hidden="true"></i>
            <span class="sr-only">Pinterest</span>
          <% end %>
        </li>
        <li class="list-inline-item">
          <% link_to 'https://www.instagram.com/shemss.inc/', target: '_blank' do %>
            <i class="fa fa-fw fa-instagram" aria-hidden="true"></i>
            <span class="sr-only">Instagram</span>
          <% end %>
        </li>
        <li class="list-inline-item">
          <% link_to 'https://www.youtube.com/channel/UCKWFX2uDnvO4D73nkT-5BuA',
            target: '_blank' do %>
            <i class="fa fa-fw fa-youtube" aria-hidden="true"></i>
            <span class="sr-only">YouTube</span>
          <% end %>
        </li>
      </ul>

      <%= image_tag 'logo.svg', class: 'my-n1',
        style: 'height: 2rem; width: auto' %>
    </div>
  </div>
</footer>
