<div class="text-white bg-secondary text-center px-2 py-5 to-edge-right to-edge-left ready-evolve">
  <h2>Ready to Get Evolved?</h2>
  <p class="lead"><em>The Home of the Future is Waiting for You</em></p>
  <!-- <p>
    <%= link_to 'See our plans', '/our-homes/',
      class: 'btn btn-dark text-uppercase' %>
  </p> -->
</div>
