<nav class="navbar navbar-expand-md navbar-light sticky-top bg-white text-uppercase pl-md-0 pr-md-0">
  <div class="container-fluid">
    <%= link_to data.site.title, '/', class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <%= partial 'layouts/nav', locals: { nav: data.nav } %>
      </ul>
    </div>
  </div>
</nav>
