<h2 class="hul">We Build Faster</h2>

<div class="row">
  <div class="col-md col-lg-7 mb-md-5">
    <p><em>SHEMSS, moving at a pace of modern living.</em></p>
    <p>
      By choosing SHEMSS Homes, you’ve signed up to be at the forefront of a
      progressive movement disrupting the construction industry.
    </p>
    <p>
      We're flipping the traditional notion of what it means to build a home
      on its head. This means no more:
    </p>
    <ul>
      <li>Delays</li>
      <li>Stress</li>
      <li>Red tape</li>
      <li>Hidden costs</li>
      <li>Confustion</li>
    </ul>
    <p>
      We provide a simple path to an affordable, thoughtfully designed home
      without the headaches of traditional builds. You spend less time
      worrying and get into your new home sooner!
    </p>
  </div>
  <div class="col-md col-lg-5 mb-md-5">
    <div class="row">
      <div class="col-sm col-md-12 col-lg">
        <div class="mt-3 mt-md-0 mb-3">
          <div class="clock-face">
            <div class="clock-outer">
              <div class="clock-inner">
                <div class="hours-container">
                  <div class="hours"></div>
                </div>
                <div class="minutes-container">
                  <div class="minutes"></div>
                </div>
                <div class="seconds-container">
                  <div class="seconds"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-12 col-lg">
        <ul class="faster-list text-uppercase mt-3 mt-sm-5 mt-md-3 mt-lg-2">
          <li>SHEMSS home</li>
          <li>New custom home</li>
          <li>New custom home teardown</li>
        </ul>
      </div>
    </div>
  </div>
</div>
