---
title: About
---

<div class="container-fluid">
  <div class="row">
    <div class="col-md order-md-2 mt-md-5">
      <div class="to-edge-left to-edge-right">
        <%= image_tag 'about/serg.jpg', alt: 'Serg Shemyakin',
          class: 'img-fluid about-img' %>
      </div>
    </div>
    <div class="col-md order-md-1">
      <div class="about-text-outer">
        <div class="bg-light p-4 p-sm-5 to-edge-left-mega about-text">
          <h1 class="hul"><%= current_page.data.title %></h1>
          <p>
            Founded in 2012, Shemss has grown into a diversified, vertically
            integrated company, expanding its business to include residential
            rehabilitation and new construction.
          </p>
          <p>Our success factors include:</p>
          <ul>
            <li>Unrivaled capability</li>
            <li>Experienced team</li>
            <li>Efficient inventory management</li>
            <li>Design with intention</li>
            <li>Proprietary technology</li>
            <li>Defying stereotypes</li>
            <li>Open to innovation</li>
            <li>Creating a legacy</li>
          </ul>
          <p>
            Staying on the leading edge of our industry is important to our
            company. Shemss primary focus is designing &amp; building new
            construction in Northern California and Western Nevada. Shemss has
            demonstrated countless times its commitment to ensuring safety &amp;
            environmental responsibility, legal &amp; ethical business
            practices, and quality construction. Our specialties include
            residential remodeling, new construction, custom home building,
            complete home restoration, and additions of all types.
          </p>
          <p>
            Choosing a contractor is a serious undertaking. We encourage you to
            take a look around at some of our previous projects and learn more
            about the methods and beliefs that make up the Shemss Construction
            experience. As a fully licensed, bonded and insured company, Shemss
            is reliable, trustworthy, and reputable. From our family to yours,
            our #1 goal is your satisfaction!
          </p>
          <hr>
          <p><small>License #977400</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="our-philosophy">
  <div class="text-white p-4 p-sm-5 home-heart">
    <div class="container-fluid py-3 py-md-5">
      <div class="row">
        <div class="col-md-7 col-lg-8"></div>
        <div class="col-md">
          <h3 class="hul">Our Philosophy</h3>

          <p>
            In order to succeed in the construction industry, a general
            contractor must possess not only the requisite skills of the trade
            but also a relentless drive, a heaping dose of experience, and a
            heartfelt commitment to the complete satisfaction of the client.
          </p>
          <p>
            We work hard because we have a passion for construction and truly
            love what we do. Shemss is a close-knit team and we thrive on the
            camaraderie we’ve built over the years. We believe our success stems
            from our cohesion as a team and the joy we find in our work. The
            icing on the cake is the thrill and wonder of our clients as they
            receive the keys to their new home.
          </p>
          <p>
            Shemss Construction always welcomes and encourages your feedback.
            Please Contact Us Today!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
