---
title: About
---

<h1 class="sr-only"><%= current_page.data.title %></h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md order-md-2 mt-md-5">
      <div class="to-edge-left to-edge-right">
        <%= image_tag 'about/serg.jpg', alt: 'Serg Shemyakin',
          class: 'img-fluid about-img' %>
      </div>
    </div>
    <div class="col-md order-md-1">
      <div class="about-text-outer">
        <div class="bg-light p-4 p-sm-5 to-edge-left-mega about-text">
          <h2 class="hul">Serg Shemyakin</h2>
          <p><em>
            Co-founder of Shemss<br>
            President and Creative Guru
          </em></p>
          <p class="lead">
            Spirit animal &mdash; Tiger. The holder of unbounded energy,
            discipline, and tireless enthusiasm.
          </p>
          <p>
            Serg’s foundation for a future in construction began at an early age
            in his former homeland of Ukraine. Arguably there’s no better place
            to cut your teeth as a budding construction guru than in a country
            with winter temperatures hovering at -20C. Aside from a little
            frostbite, Serg formed a work ethic like no other, and mettle
            unparalleled. It’d be a challenge to find another person who works
            so ridiculously hard.
          </p>
          <p>
            Whilst spending several months volunteering at a Siberian orphanage
            Serg met his future wife, better half and partner in crime, Natalya.
            His family like to joke that it was the cold that formed their
            relationship. Natalya was simply so freezing any warm body would do!
          </p>
          <p>
            After immigrating to the United States as a teenager, and becoming a
            United States Citizen, Serg dived headfirst into his passion for
            construction, forming SHEMSS in 20??.
          </p>
          <p>
            With over 17 years of experience in the building trades, Serg has
            done it all and quite possibly seen it all. And what he hasn’t done
            yet, he is planning on doing soon. Shemss primary focus is Design
            &amp; Build construction services in the South Lake Tahoe and
            Sacramento areas. Specialties include residential remodeling, new
            construction, and custom home building, additions of all types,
            complete home renovations, kitchens and baths along with design and
            planning. Lately, Serg’s horizons have broadened with his
            integration of locally sourced reclaimed materials into his work,
            with a trajectory towards the sustainable and green building. The
            results have been spectacular and hugely popular hit with his
            clients.
          </p>
          <p>
            Although Serg on average has about three minutes of free time/week
            his favorite thing to do is spend time with his family, the center
            of his life and the reason he works so hard. If he had a full free
            day you would find him barbecuing in his backyard, lounging in the
            family sauna hut and looking up at the beautiful Tahoe night sky
            from his hot tub. Likely dreaming up his next big project.
          </p>
          <p>
            Serg is a straight up and honest as they come. He and his family are
            proud of their work and the company they have built. As a fully
            licensed (License #977400), bonded and insured remodeling company
            Shemss is reliable, trustworthy and reputable. From their family to
            yours, the #1 goal is your satisfaction!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="our-philosophy">
  <div class="text-white p-4 p-sm-5 home-heart">
    <div class="container-fluid py-3 py-md-5">
      <div class="row">
        <div class="col-md-7 col-lg-8"></div>
        <div class="col-md">
          <h3 class="hul">Our Philosophy</h3>

          <p>
            In order to succeed in the construction industry, a general
            contractor must possess not only the requisite skills of the trade
            but to a relentless drive, a ginormous heaping of experience and a
            heartfelt commitment to the complete satisfaction of the client.
          </p>
          <p>
            We work hard because we have a passion for construction and truly
            love what we do. Shemss is a close-knit team and we, thrive on the
            camera die we’ve built over the years. We believe our success stems
            from our cohesiveness as a team and the joy we find through our
            work. The icing on the cake is the thrill and wonder of our clients
            as they take the set of keys to their new home.
          </p>
          <p>
            Shemss Construction always welcomes and encourages your feedback.
            Please Contact Us Today!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
