---
title: Careers
---

<div class="container-fluid">
  <div style="max-width: 34rem;">
    <p class="lead mt-5 pt-5">
      We are always looking for talented people to join our team.
    </p>

    <p>
      To apply, download
      <a href="/documents/application.pdf" target="_blank">
      our employment application</a>
      (Adobe Acrobat Reader required) or contact Human Resources
      for an application. Mail or email your completed application
      along with a cover letter and resume to:
    </p>

    <p class="vcard h-card">
      <p class="h-adr adr">
        <span class="p-name p-org fn org">SHEMSS, Inc.</span><br>
        <span class="p-street-address street-address">1034 Emerald Bay Rd #444</span><br>
        <span class="p-locality locality">South Lake Tahoe</span>,
        <abbr class="p-region region" title="California">CA</abbr>
        <span class="p-postal-code postal-code">96150</span>
      </p>
      <p>
        <%= link_to data.site.email, "mailto:#{data.site.email}",
          class: 'u-email email' %>
      </p>
    </p>
  </div>
</div>
