---
title: Classes
---

<div class="jumbotron classes-banner mb-0 mb-md-5">
  <div class="container-fluid text-center text-uppercase text-white">
    <p class="h3"><span class="classes-banner-date">March 17 2019</span></p>
    <h1 class="display-1">Hands on Class</h1>
    <a class="btn btn-primary btn-lg" href="#sign-up" role="button">Sign Up</a>
  </div>
</div>

<div class="container-fluid">
  <div class="row flex-row-reverse">
    <div class="col-md">
      <div class="text-uppercase text-white bg-dark p-3 p-sm-4 to-edge-right classes-overlap-right">
        <h2 class="h4 hul">Gain knowledge</h2>
        <p>
          Learn a skill in construction from experianced contractors and
          builders. Roll up your sleaves for a hands on experiance with Shemss
          Construction.
        </p>
      </div>
    </div>

    <div class="col-sm">
      <div class="to-edge-left classes-overlap-left">
        <a href="#modalVideo" class="video-preview" data-toggle="modal">
          <%= image_tag 'home/built-to-evolve.jpg',
            class: 'img-fluid' %>
        </a>
      </div>
    </div>
  </div>

  <div class="bg-light py-5 px-5">
    <form id="sign-up">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control">
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" name="phone" id="phone" class="form-control">
      </div>

      <div class="form-group form-check">
        <label class="form-check-label">
          <input type="checkbox" name="accept_terms" class="form-check-input">
          I accept the
        </label>
        <a href="#">Terms and Conditions</a>
      </div>

      <div class="form-group">
        <button class="btn btn-primary">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<%= partial 'layouts/video-modal' %>

<% content_for :foot, javascript_include_tag('home') %>
