---
title: Contact
---

<div class="scene-wrapper">
  <ul id="scene" class="scene list-unstyled">
    <li class="layer" data-depth="0.00"></li>
    <li class="layer" data-depth="0.05">
      <%= image_tag 'contact/scene/stars.jpg', class: 'scene-stars' %>
    </li>
    <li class="layer" data-depth="0.05">
      <div class="scene-sky"></div>
    </li>
    <li class="layer" data-depth="0.10">
      <div class="scene-clouds"></div>
    </li>
    <li class="layer" data-depth="0.18">
      <div class="scene-mountain"></div>
      <div class="scene-lake"></div>
    </li>
    <li class="layer" data-depth="0.15">
      <!-- <div class="scene-logo"></div> -->
    </li>
  </ul>
</div>

<div class="bg-light">
  <div class="container-fluid h-card vcard">
    <div class="row">
      <div class="col-md-5 col-lg-4">
        <div class="text-white bg-dark p-3 p-sm-5 p-md-4 to-edge-left to-edge-right pad-edge contact-block">
          <h1 class="hul"><%= current_page.data.title %></h1>

          <p class="h-adr adr">
            <span class="p-name p-org fn org">Shemss, Inc.</span><br>
            <span class="p-street-address street-address">P.O. Box 17653</span><br>
            <span class="p-locality locality">South Lake Tahoe</span>,
            <abbr class="p-region region" title="California">CA</abbr>
            <span class="p-postal-code postal-code">96151</span>
          </p>

          <p class="p-tel tel">
            <span class="type">Office:</span>
            <span class="value"><%= data.site.phone %></span>
          </p>

          <p>
            <%= link_to data.site.email, "mailto:#{data.site.email}",
              class: 'u-email email' %>
          </p>
        </div>
      </div>
      <div class="col-md-7 col-lg-8 py-4 p-sm-5 bg-house">
        <div class="ml-md-5">
          <p class="lead"><em>
            Partner with us, and together let’s create, enhance, and sustain.
          </em></p>
        </div>
      </div>
    </div>
  </div>
</div>
