---
title: Gallery

projects:
- shimizu
- haidas
- o-malley
- sauna
- gardner
- edna
- clement
- marshall
- kulow
- cochise
- moore
- a-frame
- balboa
- garden-shed
- 925-tata
- 921-tata
- 917-tata

tags:
- Outdoor
- Living space
- Bath
- Bedroom
- Kitchen
---

<%
photos = sitemap.resources.select do |r|
  r.path.start_with?('images/gallery/') &&
  !r.path.include?('/thumbs/')
end.map do |image|
  path = image.path[7..-1]
  thumb = path.split('/').insert(-2, 'thumbs').join('/')
  project_slug = image.path.split('/')[-2]
  project = {
    'a-frame'   => 'A-Frame',
    'o-malley'  => 'O’Malley',
  }[project_slug] || project_slug.titleize

  filename = image.path.split('/').last
  tag = filename.sub(/\A#{project_slug}\-/, '').sub(/(\-\d+)?\.jpg\z/, '')
  {
    file:     image_path(path),
    thumb:    image_path(thumb),
    project:  project,
    tags:     [ tag ],
    size:     Dimensions.dimensions(File.join('tmp/gallery', image.path)),
  }
end

projects = photos.map { |p| p[:project] }.uniq.map do |name|
  {
    name: name,
    slug: name.parameterize,
  }
end.sort do |a, b|
  current_page.data.projects.index(a[:slug]) <=>
  current_page.data.projects.index(b[:slug])
end

tags = photos.map { |p| p[:tags] }.flatten.uniq.map do |slug|
  {
    name: slug.underscore.humanize,
    slug: slug,
  }
end.sort do |a, b|
  current_page.data.tags.index(a[:name]) <=>
  current_page.data.tags.index(b[:name])
end
%>

<div id="ApplicationRoot"></div>
<% content_for :foot do %>
  <%= javascript_include_tag 'gallery' %>
  <script>
    Application.start(<%= {
      photos: photos.group_by { |p| p[:project] },
      projects: projects,
      tags: tags,
    }.to_json %>)
  </script>
  <%= partial 'layouts/photoswipe' %>
<% end %>
